

.carousel-caption {
  color: rgb(129, 32, 32);
  text-shadow: -1px 1px 0 #000,
                        1px 1px 0 #000,
                       1px -1px 0 #000,
                      -1px -1px 0 #000;
}
body{
  background-color:rgb(143, 151, 151);
}



  