
    <mat-toolbar style="background-color: #7E57C2;">
      <a [routerLink]="''"
       mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="color: white;">home_health</mat-icon>
      </a>
      <span style="color:white;">City Hospital</span>
      <span class="example-spacer"></span>



     <div class="mx-2">
      <button style="margin: 5px;" class="btn btn-danger" data-toggle="modal" routerLink="/doctorlogin"><a style="color: white;" href="javascript:void(0);" >Login as Doctor</a></button>
      <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" routerLink="/login"><a style="color:white;" href="javascript:void(0);" >Login as Admin</a></button>
      
  </div>
      
    </mat-toolbar>
